/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Manrope:wght@300;400;500;600;700&display=swap');
/* google fonts  end */
body{
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    line-height: 30px;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Inter", sans-serif;
}